<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Prediction Result</h1>
    <p class="lead">The uploaded image is predicted to be: <strong>{{ prediction }}</strong></p>
    <div class="my-3">
        <img src="{{ url_for('static', filename='images/' + image) }}" alt="Uploaded Image" class="img-thumbnail">
    </div>
    <a href="/" class="btn btn-primary">Try Again</a>
</div>
</body>
</html>
